html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  padding: 0;
}

.left {
  float:left;
}

.right {
  float:right;
}

.center {
  text-align: center;
}

.gap {
  margin:4%;
}

.oneCol {
  width:75%;
}

.strong {
  font-size: 1.2em; 
  font-weight:bold;
}

.blockDisp {
  position:absolute; 
  min-height:75%; 
  padding: 5px 10px; 
  margin-top: -10px;
  border-left: #ddd 1px solid; 
}

.imgContainer {
  float:left;
  margin: 0 10px 5px 0;
}

.displayImg {
  display:inline-block; 
  width:100%;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2), 0px 6px 20px 2px rgba(0, 0, 0, 0.2);
}

.accordion {
  list-style:none;
  margin:0px;
  padding:0px; 
  max-width:50%
}

.accordion li.default {
  color: #333; 
  background-color: #f5f5f5; 
  border: #ddd 1px; 
  border-style: solid none none solid;
  padding: 10px 15px;
}

.accordion li.active {
  color: #333; 
  background-color: #fff;  
  border: #ddd 1px; 
  border-style: solid none none solid;
  padding: 10px 15px;
}

.accordion li.first-child {
  border-radius: 8px 0px 0px 0px;
}

.accordion li.last-child {
  border-radius: 0px 0px 0px 8px;
  border-style: solid none solid solid;
}

.accordion .panel {
  padding: 5px 10px; 
  border: #ddd 1px solid;
}

.pointer {
  cursor:pointer;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 481px) {
  .mobile {
    display:none;
  }

  .accordion {
    max-width:50%;
  }

  .imgContainer {
    width: 30%; 
    max-width: 12em;
    min-width: 8em;
  }

  .displayImg {
    border:#fff 4px solid; 
  }
}

@media screen and (max-width: 480px) {
  .desktop {
    display:none;
  }

  .oneCol {
    width:100%;
  }

  .accordion {
    max-width:100%;
  }

  .imgContainer {
    width: 50%;
  }

  .displayImg {
    border:#fff 2px solid; 
  }
}
