<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Browser</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-route/angular-route.js"></script>
    <script src="../node_modules/lodash/lodash.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/data.js"></script>
    <script src="scripts/services/myService.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/directives/accordionPanel.js"></script>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/bootstrap.css">
  </head>
  <body ng-app="profileSearchApp">
    <h2 class="center gap">Profile Browser</h2>
    <section class="container" ng-controller="myController">
      <ul class="accordion">
        <span ng-repeat="profile in profiles" class="left oneCol">
          <li ng-click="openPanel(profile)" class="pointer" ng-class="{active: profile.selected, default: !profile.selected, 'first-child': $first, 'last-child': $last}">{{profile.firstName}} {{profile.lastName}}</li>
          <div ng-show="profile.selected" class="panel mobile">
           <div accordion-panel name="{{profile.firstName + ' ' + profile.lastName}}" picture="{{profile.picture}}" bio-data="{{profile.bio}}"></div>
          </div>
        </span>
      </ul>
      <span ng-show="profile.selected" class="right blockDisp desktop" ng-repeat="profile in profiles">
         <div accordion-panel name="{{profile.firstName + ' ' + profile.lastName}}" picture="{{profile.picture}}" bio-data="{{profile.bio}}"></div>
      </span>
    </section>
  </body>
</html>
